<header class="header">
    <div class="container">
        <div class="logo">
            <img src="/img/Logo.svg" alt="Justice Logo">
        </div>

        <label for="open-menu">
            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>
        </label>


        <div class="nav-bar">
            <input class="open-menu" id="open-menu" hidden type="checkbox">
            <ul class="main-nav">
                <li>
                    <a href="#!">
                        <span>Home</span>
                        <span class="chevron-lever-1">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#!">Divorce</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">
                                Personal Injury
                            </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Employment</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Immigration</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Family</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Property</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#!">
                        <span>About</span>
                        <span class="chevron-lever-1">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#!">Divorce</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">
                                Personal Injury
                            </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Employment</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Immigration</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Family</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Property</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#!">
                        <span>Practice Areas</span>
                        <span class="chevron-lever-1">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#!">Divorce</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">
                                Personal Injury
                            </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Employment</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Immigration</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Family</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Property</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#!">
                        <span>Attorneys</span>
                        <span class="chevron-lever-1">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#!">Divorce</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">
                                Personal Injury
                            </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Employment</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Immigration</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Family</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Property</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#!">
                        <span>Page</span>
                        <span class="chevron-lever-1">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#!">Divorce</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">
                                Personal Injury
                            </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Employment</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Immigration</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Family</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#!">Property</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="call-to">
                <p>Call :<strong>(000) 123 456 789</strong></p>
            </div>
        </div>
    </div>
</header>