<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <%- include("./partials/head.ejs") %>
</head>

<body>


    <div class="wrapper">
        <%- include("./partials/header.ejs") %>
            <main>
                <div class="blog-page">

                    <div class="container">
                        <h1>
                            Our Regular Blog
                        </h1>

                        <p class="desc">
                            With our experience we are ready to help you create a modern property with an easy step.
                        </p>

                        <div class="blog-items">

                            <div class="row row-cols-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-1 gy-4">
                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-1.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-2.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-3.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-4.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-5.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-6.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-7.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-8.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-9.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-10.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-11.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-12.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-13.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-14.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-15.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#!">
                                        <img class="blog-img" src="/img/img-blog-16.png" alt="blog img">
                                        <p class="blog-title">
                                            Top 20 Effective Digital<br>Marketing Tools to Help
                                        </p>
                                        <p class="blog-date">
                                            July 27, 2021
                                        </p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="center">
                                    <div class="button load-more-btn">
                                        <a href="#!">Load More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
</body>

</html>