<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
    <%- include("./partials/head.ejs") %>
</head>

<body>


    <div class="wrapper">
        <%- include("./partials/header.ejs") %>
            <main>
                <!-- TOP PAGE -->
                <div class="top-page about-top-page">
                    <div class="container">
                        <div class="center">
                            <p class="title">
                                #Practice Areas
                            </p>

                            <h1>
                                Our Practice Areas to<br>Serve You
                            </h1>

                            <p class="desc">
                                Where every injury is personal. We are a different kind of law firm. Let our small,
                                passionate group of trial lawyers fight for your rights!
                            </p>
                        </div>
                    </div>
                </div>


                <!-- #Services -->


                <div class="services">
                    <div class="container">
                        <div class="center">
                            <p class="title">#Services</p>
                            <h2>Our Practice Areas</h2>
                            <p class="desc">
                                Our Law Office provides a professional experience for all our clients, helping them
                                navigate
                                their legal rights.
                            </p>
                        </div>

                        <div class="row row-cols-3 row-cols-xl-2 row-cols-md-1 g-3">
                            <div class="col">
                                <div class="services-item">
                                    <img src="/img/img-3.svg" alt="Services IMG">
                                    <div class="button">
                                        <a href="#!">Personal Injury Law</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="services-item">
                                    <img src="/img/img-4.svg" alt="Services IMG">
                                    <div class="button">
                                        <a href="#!">Personal Injury Law</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="services-item">
                                    <img src="/img/img-5.svg" alt="Services IMG">
                                    <div class="button">
                                        <a href="#!">Personal Injury Law</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="services-item">
                                    <img src="/img/img-6.svg" alt="Services IMG">
                                    <div class="button">
                                        <a href="#!">Personal Injury Law</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="services-item">
                                    <img src="/img/img-7.svg" alt="Services IMG">
                                    <div class="button">
                                        <a href="#!">Personal Injury Law</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="services-item">
                                    <img src="/img/img-8.svg" alt="Services IMG">
                                    <div class="button">
                                        <a href="#!">Personal Injury Law</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="center view-all-btn">
                            <div class="button">
                                <a href="#!">View All</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- #CTA -->

                <div class="cta">
                    <div class="container">
                        <div class="center">
                            <p class="title">
                                #CTA
                            </p>
                            <h2>Dealing With a Issue?</h2>
                            <p class="desc">
                                Where every injury is personal. We are a different kind of law firm. Let our small,
                                passionate group of trial lawyers fight for your rights!
                            </p>
                            <div class="button">
                                <a href="#!">Get a Consultations</a>
                            </div>
                        </div>

                    </div>
                </div>








            </main>
            <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
</body>

</html>